consumes:
- application/json
definitions:
  MeMakotiaMatsuyaV2:
    description: Version 2 (default view)
    example:
      menu: Maxime quis.
    properties:
      menu:
        description: メニュー名
        example: Maxime quis.
        type: string
    required:
    - menu
    title: 'Mediatype identifier: application/vnd.me.makotia.matsuya.v2+json; view=default'
    type: object
  MeMakotiaMatsuyaV3:
    description: Version 3 (default view)
    example:
      calorie: 235124777593117735
      carbohydrate: 0.5058996283566668
      description: Ut ut et quibusdam.
      imageURL: Nemo sed iste quo sit nihil quas.
      lipid: 0.8785410405711529
      name: Quis dolorum.
      price: 4238054262577731524
      protein: 0.5874419441768178
      saltEquivalent: 0.5527764588740911
      sodium: 1831524268765446318
    properties:
      calorie:
        description: カロリー
        example: 235124777593117735
        format: int64
        type: integer
      carbohydrate:
        description: 炭水化物
        example: 0.5058996283566668
        format: double
        type: number
      description:
        description: 説明
        example: Ut ut et quibusdam.
        type: string
      imageURL:
        description: 紹介画像
        example: Nemo sed iste quo sit nihil quas.
        type: string
      lipid:
        description: 脂質
        example: 0.8785410405711529
        format: double
        type: number
      name:
        description: メニュー名
        example: Quis dolorum.
        type: string
      price:
        description: 価格
        example: 4238054262577731524
        format: int64
        type: integer
      protein:
        description: タンパク質
        example: 0.5874419441768178
        format: double
        type: number
      saltEquivalent:
        description: 食塩相当量
        example: 0.5527764588740911
        format: double
        type: number
      sodium:
        description: ナトリウム
        example: 1831524268765446318
        format: int64
        type: integer
    required:
    - name
    - price
    - calorie
    - protein
    - lipid
    - carbohydrate
    - sodium
    - saltEquivalent
    - description
    - imageURL
    title: 'Mediatype identifier: application/vnd.me.makotia.matsuya.v3+json; view=default'
    type: object
  MeMakotiaMatsuyaV4:
    description: Version 4 (default view)
    example:
      calorie: 1882704148655915041
      carbohydrate: 0.27766919716662036
      description: Qui quibusdam fugiat necessitatibus est sed neque.
      imageURL: Expedita harum dolores officiis qui ipsam velit.
      lipid: 0.1542423145539259
      name: Rerum nam maxime repellendus.
      price: 3586088613919122823
      protein: 0.20676340692923645
      saltEquivalent: 0.18516526030694105
      sodium: 7989700975029463422
      type: Qui ut in praesentium maiores.
    properties:
      calorie:
        description: カロリー
        example: 1882704148655915041
        format: int64
        type: integer
      carbohydrate:
        description: 炭水化物
        example: 0.27766919716662036
        format: double
        type: number
      description:
        description: 説明
        example: Qui quibusdam fugiat necessitatibus est sed neque.
        type: string
      imageURL:
        description: 紹介画像
        example: Expedita harum dolores officiis qui ipsam velit.
        type: string
      lipid:
        description: 脂質
        example: 0.1542423145539259
        format: double
        type: number
      name:
        description: メニュー名
        example: Rerum nam maxime repellendus.
        type: string
      price:
        description: 価格
        example: 3586088613919122823
        format: int64
        type: integer
      protein:
        description: タンパク質
        example: 0.20676340692923645
        format: double
        type: number
      saltEquivalent:
        description: 食塩相当量
        example: 0.18516526030694105
        format: double
        type: number
      sodium:
        description: ナトリウム
        example: 7989700975029463422
        format: int64
        type: integer
      type:
        description: 種類
        example: Qui ut in praesentium maiores.
        type: string
    required:
    - name
    - type
    - price
    - calorie
    - protein
    - lipid
    - carbohydrate
    - sodium
    - saltEquivalent
    - description
    - imageURL
    title: 'Mediatype identifier: application/vnd.me.makotia.matsuya.v4+json; view=default'
    type: object
host: matsuya.makotia.me
info:
  description: 松屋のメニューをランダムで返すAPIとメニューのデータ(栄養値)を返すAPI
  title: Matsuya-Web-API
  version: ""
paths:
  /v1/random:
    get:
      description: ランダムで松屋のメニュー名を返す
      operationId: v1#random
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: random v1
      tags:
      - v1
  /v2/random:
    get:
      description: ランダムで松屋のメニュー名を返す
      operationId: v2#random
      produces:
      - application/vnd.me.makotia.matsuya.v2+json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/MeMakotiaMatsuyaV2'
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: random v2
      tags:
      - v2
  /v3/random:
    get:
      description: ランダムで松屋のメニュー名を返す
      operationId: v3#random
      produces:
      - application/vnd.me.makotia.matsuya.v3+json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/MeMakotiaMatsuyaV3'
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: random v3
      tags:
      - v3
  /v4/random:
    get:
      description: ランダムで松屋のメニュー名を返す
      operationId: v4#random
      parameters:
      - description: メニュー名
        in: query
        name: name
        required: false
        type: string
      - description: メニューの種類
        in: query
        name: type
        required: false
        type: string
      produces:
      - application/vnd.me.makotia.matsuya.v4+json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/MeMakotiaMatsuyaV4'
      schemes:
      - https
      summary: random v4
      tags:
      - v4
  /v4/search:
    get:
      description: ランダムで松屋のメニュー名を返す
      operationId: v4#search
      parameters:
      - description: メニュー名
        in: query
        name: name
        required: false
        type: string
      - description: メニューの種類
        in: query
        name: type
        required: false
        type: string
      produces:
      - text/plain
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: search v4
      tags:
      - v4
produces:
- application/json
responses:
  InternalServerError:
    description: Internal Server Error
  OK:
    description: OK
    schema:
      $ref: '#/definitions/MeMakotiaMatsuyaV2'
schemes:
- https
swagger: "2.0"
