{"swagger":"2.0","info":{"title":"Matsuya-Web-API","description":"松屋のメニューをランダムで返すAPIとメニューのデータ(栄養値)を返すAPI","version":""},"host":"matsuya.makotia.me","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","application/gob","application/x-gob"],"paths":{"/v1/random":{"get":{"tags":["v1"],"summary":"random v1","description":"ランダムで松屋のメニュー名を返す","operationId":"v1#random","produces":["text/plain"],"responses":{"200":{"description":"OK"}},"schemes":["https"]}},"/v2/random":{"get":{"tags":["v2"],"summary":"random v2","description":"ランダムで松屋のメニュー名を返す","operationId":"v2#random","produces":["application/vnd.me.makotia.matsuya.v2+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaV2"}}},"schemes":["https"]}},"/v3/random":{"get":{"tags":["v3"],"summary":"random v3","description":"ランダムで松屋のメニュー名を返す","operationId":"v3#random","produces":["application/vnd.me.makotia.matsuya.v3+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaV3"}}},"schemes":["https"]}},"/v4/random":{"get":{"tags":["v4"],"summary":"random v4","description":"ランダムで松屋のメニュー名を返す","operationId":"v4#random","produces":["application/vnd.me.makotia.matsuya.random+json"],"parameters":[{"name":"name","in":"query","description":"メニュー名","required":false,"type":"string"},{"name":"type","in":"query","description":"メニューの種類","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaRandom"}}},"schemes":["https"]}},"/v4/search":{"get":{"tags":["v4"],"summary":"search v4","description":"ランダムで松屋のメニュー名を返す","operationId":"v4#search","produces":["text/plain"],"parameters":[{"name":"name","in":"query","description":"メニュー名","required":false,"type":"string"},{"name":"type","in":"query","description":"メニューの種類","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}},"schemes":["https"]}}},"definitions":{"MeMakotiaMatsuyaRandom":{"title":"Mediatype identifier: application/vnd.me.makotia.matsuya.random+json; view=default","type":"object","properties":{"calorie":{"type":"integer","description":"カロリー","example":4103913588170123885,"format":"int64"},"carbohydrate":{"type":"number","description":"炭水化物","example":0.7414003038435382,"format":"double"},"description":{"type":"string","description":"説明","example":"Odio odit quas ut."},"imageURL":{"type":"string","description":"紹介画像","example":"Et quibusdam in nemo."},"lipid":{"type":"number","description":"脂質","example":0.04167406093236456,"format":"double"},"name":{"type":"string","description":"メニュー名","example":"Quo sit."},"price":{"type":"integer","description":"価格","example":6096436032244781355,"format":"int64"},"protein":{"type":"number","description":"タンパク質","example":0.3720742865219837,"format":"double"},"saltEquivalent":{"type":"number","description":"食塩相当量","example":0.8785410405711529,"format":"double"},"sodium":{"type":"integer","description":"ナトリウム","example":8064188946554459161,"format":"int64"},"type":{"type":"string","description":"種類","example":"Dolorum asperiores nostrum nesciunt quaerat distinctio velit."}},"description":"Version 4 (default view)","example":{"calorie":4103913588170123885,"carbohydrate":0.7414003038435382,"description":"Odio odit quas ut.","imageURL":"Et quibusdam in nemo.","lipid":0.04167406093236456,"name":"Quo sit.","price":6096436032244781355,"protein":0.3720742865219837,"saltEquivalent":0.8785410405711529,"sodium":8064188946554459161,"type":"Dolorum asperiores nostrum nesciunt quaerat distinctio velit."},"required":["name","type","price","calorie","protein","lipid","carbohydrate","sodium","saltEquivalent","description","imageURL"]},"MeMakotiaMatsuyaV2":{"title":"Mediatype identifier: application/vnd.me.makotia.matsuya.v2+json; view=default","type":"object","properties":{"menu":{"type":"string","description":"メニュー名","example":"Qui quibusdam fugiat necessitatibus est sed neque."}},"description":"Version 2 (default view)","example":{"menu":"Qui quibusdam fugiat necessitatibus est sed neque."},"required":["menu"]},"MeMakotiaMatsuyaV3":{"title":"Mediatype identifier: application/vnd.me.makotia.matsuya.v3+json; view=default","type":"object","properties":{"calorie":{"type":"integer","description":"カロリー","example":7832382595641350085,"format":"int64"},"carbohydrate":{"type":"number","description":"炭水化物","example":0.8612953735968045,"format":"double"},"description":{"type":"string","description":"説明","example":"Dolores officiis qui ipsam velit ea."},"imageURL":{"type":"string","description":"紹介画像","example":"Rerum nam maxime repellendus."},"lipid":{"type":"number","description":"脂質","example":0.38880450659366445,"format":"double"},"name":{"type":"string","description":"メニュー名","example":"Aliquam quis deserunt qui ut in praesentium."},"price":{"type":"integer","description":"価格","example":5294807844562973222,"format":"int64"},"protein":{"type":"number","description":"タンパク質","example":0.5483454842999721,"format":"double"},"saltEquivalent":{"type":"number","description":"食塩相当量","example":0.5708973574108325,"format":"double"},"sodium":{"type":"integer","description":"ナトリウム","example":4714241507359647675,"format":"int64"}},"description":"Version 3 (default view)","example":{"calorie":7832382595641350085,"carbohydrate":0.8612953735968045,"description":"Dolores officiis qui ipsam velit ea.","imageURL":"Rerum nam maxime repellendus.","lipid":0.38880450659366445,"name":"Aliquam quis deserunt qui ut in praesentium.","price":5294807844562973222,"protein":0.5483454842999721,"saltEquivalent":0.5708973574108325,"sodium":4714241507359647675},"required":["name","price","calorie","protein","lipid","carbohydrate","sodium","saltEquivalent","description","imageURL"]}},"responses":{"OK":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaV2"}}}}