{"swagger":"2.0","info":{"title":"Matsuya-Web-API","description":"松屋のメニューをランダムで返すAPIとメニューのデータ(栄養値)を返すAPI","version":""},"host":"matsuya.makotia.me","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/random":{"get":{"tags":["v1"],"summary":"random v1","description":"ランダムで松屋のメニュー名を返す","operationId":"v1#random","responses":{"200":{"description":"OK"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v2/random":{"get":{"tags":["v2"],"summary":"random v2","description":"ランダムで松屋のメニュー名を返す","operationId":"v2#random","produces":["application/vnd.me.makotia.matsuya.v2+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaV2"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v3/random":{"get":{"tags":["v3"],"summary":"random v3","description":"ランダムで松屋のメニュー名を返す","operationId":"v3#random","produces":["application/vnd.me.makotia.matsuya.v3+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaV3"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v4/random":{"get":{"tags":["v4"],"summary":"random v4","description":"ランダムで松屋のメニュー名を返す","operationId":"v4#random","produces":["application/vnd.me.makotia.matsuya.v4+json"],"parameters":[{"name":"name","in":"query","description":"メニュー名","required":false,"type":"string"},{"name":"type","in":"query","description":"メニューの種類","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaV4"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v4/search":{"get":{"tags":["v4"],"summary":"search v4","description":"ランダムで松屋のメニュー名を返す","operationId":"v4#search","parameters":[{"name":"name","in":"query","description":"メニュー名","required":false,"type":"string"},{"name":"type","in":"query","description":"メニューの種類","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}}},"definitions":{"MeMakotiaMatsuyaV2":{"title":"Mediatype identifier: application/vnd.me.makotia.matsuya.v2+json; view=default","type":"object","properties":{"menu":{"type":"string","description":"メニュー名","example":"Maxime quis."}},"description":"Version 2 (default view)","example":{"menu":"Maxime quis."},"required":["menu"]},"MeMakotiaMatsuyaV3":{"title":"Mediatype identifier: application/vnd.me.makotia.matsuya.v3+json; view=default","type":"object","properties":{"calorie":{"type":"integer","description":"カロリー","example":235124777593117735,"format":"int64"},"carbohydrate":{"type":"number","description":"炭水化物","example":0.5058996283566668,"format":"double"},"description":{"type":"string","description":"説明","example":"Ut ut et quibusdam."},"imageURL":{"type":"string","description":"紹介画像","example":"Nemo sed iste quo sit nihil quas."},"lipid":{"type":"number","description":"脂質","example":0.8785410405711529,"format":"double"},"name":{"type":"string","description":"メニュー名","example":"Quis dolorum."},"price":{"type":"integer","description":"価格","example":4238054262577731524,"format":"int64"},"protein":{"type":"number","description":"タンパク質","example":0.5874419441768178,"format":"double"},"saltEquivalent":{"type":"number","description":"食塩相当量","example":0.5527764588740911,"format":"double"},"sodium":{"type":"integer","description":"ナトリウム","example":1831524268765446318,"format":"int64"}},"description":"Version 3 (default view)","example":{"calorie":235124777593117735,"carbohydrate":0.5058996283566668,"description":"Ut ut et quibusdam.","imageURL":"Nemo sed iste quo sit nihil quas.","lipid":0.8785410405711529,"name":"Quis dolorum.","price":4238054262577731524,"protein":0.5874419441768178,"saltEquivalent":0.5527764588740911,"sodium":1831524268765446318},"required":["name","price","calorie","protein","lipid","carbohydrate","sodium","saltEquivalent","description","imageURL"]},"MeMakotiaMatsuyaV4":{"title":"Mediatype identifier: application/vnd.me.makotia.matsuya.v4+json; view=default","type":"object","properties":{"calorie":{"type":"integer","description":"カロリー","example":1882704148655915041,"format":"int64"},"carbohydrate":{"type":"number","description":"炭水化物","example":0.27766919716662036,"format":"double"},"description":{"type":"string","description":"説明","example":"Qui quibusdam fugiat necessitatibus est sed neque."},"imageURL":{"type":"string","description":"紹介画像","example":"Expedita harum dolores officiis qui ipsam velit."},"lipid":{"type":"number","description":"脂質","example":0.1542423145539259,"format":"double"},"name":{"type":"string","description":"メニュー名","example":"Rerum nam maxime repellendus."},"price":{"type":"integer","description":"価格","example":3586088613919122823,"format":"int64"},"protein":{"type":"number","description":"タンパク質","example":0.20676340692923645,"format":"double"},"saltEquivalent":{"type":"number","description":"食塩相当量","example":0.18516526030694105,"format":"double"},"sodium":{"type":"integer","description":"ナトリウム","example":7989700975029463422,"format":"int64"},"type":{"type":"string","description":"種類","example":"Qui ut in praesentium maiores."}},"description":"Version 4 (default view)","example":{"calorie":1882704148655915041,"carbohydrate":0.27766919716662036,"description":"Qui quibusdam fugiat necessitatibus est sed neque.","imageURL":"Expedita harum dolores officiis qui ipsam velit.","lipid":0.1542423145539259,"name":"Rerum nam maxime repellendus.","price":3586088613919122823,"protein":0.20676340692923645,"saltEquivalent":0.18516526030694105,"sodium":7989700975029463422,"type":"Qui ut in praesentium maiores."},"required":["name","type","price","calorie","protein","lipid","carbohydrate","sodium","saltEquivalent","description","imageURL"]}},"responses":{"InternalServerError":{"description":"Internal Server Error"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/MeMakotiaMatsuyaV2"}}}}