<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta http-equiv="refresh" content="0;URL=https://matsuya.docs.apiary.io/">
  </head>
  <body>
    <h1>Redirecting...</h1>
    <p>現在このAPIのドキュメントにリダイレクトしています。</p>
  </body>
</html>
