<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
  <meta property="og:title" content="Matsuya Web API">
  <meta name="description" content="あなただけの、松屋アプリを作りましょう。">
  <meta property="og:description" content="あなただけの、松屋アプリを作りましょう。">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://matsuya.makotia.me/">
  <meta property="og:image" content="https://matsuya.makotia.me/img/logo.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@hs6a">
  <meta name="twitter:creator" content="@hs6a">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>
    <ul class="menu">
      <li>
        <a href='https://matsuya.docs.apiary.io/'>ドキュメント</a>
      </li>
    </ul>
    </ul>
  </header>

  <main class="sp">
    <div class="inner">
      <div class="appimg">
        <img src="/img/iphone.png" alt="example-app">
      </div>
      <div class="slogan">
        <h2>
          <span class="only-you">あなただけの、</span>
          <br> 松屋アプリを作りましょう。
        </h2>
        <p class="description">
          松屋の情報を気軽に入手できるMatsuya Web APIであなただけのアプリを今すぐ作りましょう。
          <br>無料でご利用いただけます。
        </p>
      </div>
    </div>
  </main>
  <main class="pc">
    <div class="inner">
      <div class="slogan">
        <h2>
          <span class="only-you">あなただけの、</span>
          <br> 松屋アプリを作りましょう。
        </h2>
        <p class="description">
          松屋の情報を気軽に入手できるMatsuya Web APIであなただけのアプリを今すぐ作りましょう。
          <br>無料でご利用いただけます。
        </p>
      </div>
      <div class="appimg">
        <img src="/img/iphone.png" alt="example-app">
      </div>
    </div>
  </main>

  <footer>
    &copy; 2017-2018 makotia
  </footer>
</body>

</html>
