<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </head>

  <body>
  <div class="main">
    <h1><%= title %></h1>
    <p><%= title %>のドキュメントは<a href='https://matsuya.docs.apiary.io/'>こちら</a>です</p>
  </div>
    <footer class="footer">
            <div class="container">
              <p class="text-muted">
                  <i class="fa fa-server" aria-hidden="true"></i> Makotia / 
                  <i class="fa fa-cogs" aria-hidden="true"></i>＆<i class="fa fa-paint-brush" aria-hidden="true"></i> 2017 <a href="https://github.com/mak0tia">Makoto Ito</a>
              </p>
          </div>
      </footer>
  </body>
</html>
